<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> <!-- 마이바티스 태그 사용하기 위해서 등록 -->
<configuration>
	<typeAliases>
		<!-- dto의 정보를 등록하기 -->
		<typeAlias type="doc.find.member.UserDTO" alias="user" />
		<typeAlias type="doc.find.member.HadminDTO" alias="hadmin" />
		<typeAlias type="doc.find.member.AdminDTO" alias="admin" />
		<typeAlias type="doc.find.login.LoginDTO" alias="login" />
		<typeAlias type="doc.find.board.Notice_BoardDTO" alias="notice" />
		<typeAlias type="doc.find.board.Qa_BoardDTO" alias="qaboard" />
		<typeAlias type="doc.find.board.Qa_ReplyDTO" alias="qareply" />
		<typeAlias type="doc.find.board.Review_BoardDTO" alias="reviewboard" />
		<typeAlias type="doc.find.board.Review_ReplyDTO" alias="reviewreply" />
		<typeAlias type="doc.find.mypage.mypageDTO" alias="mypage" />
		<typeAlias type="doc.find.mypage.MyhospitalDTO" alias="myhospital" />
		<typeAlias type="doc.find.book.BookDTO" alias="book" />
	</typeAliases>

	<mappers>
		<!-- mapper의 정보를 등록하기 -->
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/loginMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
		<mapper resource="mapper/bookmarkMapper.xml" />
		<mapper resource="mapper/adminMapper.xml" />
		<mapper resource="mapper/bookMapper.xml" />
	</mappers>
</configuration>