<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="admin">
 	<select id="selectAll" resultType="hadmin">
 		select h.* from HADMIN h, ADMIN_APP a where a.APPROVAL='o' and a.HADMINID=h.HADMINID
 	</select>
 	<select id="acceptlist" resultType="hadmin">
 		select h.* from HADMIN h, ADMIN_APP a where a.APPROVAL='x' and a.HADMINID=h.HADMINID
 	</select>
 	<update id="accept" parameterType="String">
 		update ADMIN_APP set APPROVAL='o' where hadminid=#{hadminid}
 	</update>
 	<select id="searchAll" parameterType="Map" resultType="hadmin">
 		select h.* from HADMIN h, ADMIN_APP a
  		<where>
  			<if test="tag=='hname' and search!=''">
  				a.APPROVAL='o' and a.HADMINID=h.HADMINID and h.hname like '%'||#{search}||'%'
  			</if>
  			<if test="tag=='addr' and search!=''">
  				a.APPROVAL='o' and a.HADMINID=h.HADMINID and h.addr like '%'||#{search}||'%' 
  			</if>
  		</where>
 	</select>
 </mapper>