<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="finddoc.board">
	<insert id="insertnotice" parameterType="notice">
		insert into notice_board
		values(noticeboardnum_seq.nextval,'0',#{hadminid},#{title},#{text},'o',sysdate,sysdate,#{hname},#{name})
	</insert>
	<select id="noticeCount" parameterType="String" resultType="int">
		select
		count(*) from notice_board where
		hadminid=#{hadminid} and
		del='o'
	</select>
	<select id="noticeuserCount" parameterType="String"
		resultType="int">
		select count(*) from notice_board where del='o'
	</select>
	<select id="myhospital" parameterType="String"
		resultType="notice">
		select h.hname,h.hadminid from hadmin h,myhospital m where
		h.ykiho=m.ykiho and m.userid=#{userid}
	</select>
	<select id="noticeall" parameterType="Map" resultType="notice">
		SELECT *
		FROM(
		SELECT ROWNUM AS rn, a.*
		FROM(
		SELECT * FROM
		notice_board where
		hadminid = #{id} and del='o'
		ORDER BY txupdate desc
		) a
		)
		WHERE rn BETWEEN
		#{start} AND #{end}
	</select>
	<select id="noticeuserall" parameterType="Map"
		resultType="notice">
		SELECT *
		FROM(
		SELECT ROWNUM AS rn, a.*
		FROM(
		SELECT * FROM
		notice_board where hadminid in(select h.hadminid from hadmin
		h,myhospital m where
		h.ykiho=m.ykiho and m.userid=#{id} and del='o'
		)ORDER BY txupdate desc
		) a
		)
		WHERE rn BETWEEN #{start} AND #{end}
	</select>
	<select id="noticeallcount" parameterType="Map"
		resultType="notice">
		SELECT *
		FROM(
		SELECT ROWNUM AS rn, a.*
		FROM(
		SELECT * FROM
		notice_board where
		hadminid = #{id} and del='o'
		ORDER BY txupdate desc
		)
		a
		)
	</select>
	<select id="noticeuserallcount" parameterType="Map"
		resultType="notice">
		SELECT *
		FROM(
		SELECT ROWNUM AS rn, a.*
		FROM(
		SELECT * FROM
		notice_board where hadminid in(select h.hadminid from hadmin
		h,myhospital m where
		h.ykiho=m.ykiho and m.userid=#{id} and del='o'
		)ORDER BY txupdate desc
		) a
		)
	</select>
	<update id="noticecount" parameterType="String">
		update notice_board
		set
		noticecount=noticecount+1
		where noticeboardnum=#{noticeboardnum}
	</update>
	<select id="noticeread" parameterType="String"
		resultType="notice">
		select *
		from notice_board where
		noticeboardnum=#{noticeboardnum}
	</select>
	<update id="noticedelete" parameterType="String">
		update notice_board
		set
		del='x' where noticeboardnum=#{noticeboardnum}
	</update>
	<update id="noticeupdate" parameterType="notice">
		update notice_board set
		title=#{title},text=#{text},moddate=sysdate where
		noticeboardnum=#{noticeboardnum}
	</update>
	<select id="noticesearch" parameterType="Map"
		resultType="notice">
		SELECT *
		FROM(
		SELECT ROWNUM AS rn, a.*
		FROM(
		SELECT * FROM
		notice_board
		where hadminid
		in(select h.hadminid from hadmin
		h,myhospital m
		<where>
			h.ykiho=m.ykiho and m.userid=#{id} and del='o')and
			<if test="category=='title' and search!=''">
				title like '%'||#{search}||'%'
			</if>
			<if test="category=='text' and search!=''">
				text like '%'||#{search}||'%'
			</if>
			<if test="category=='txupdate' and search!=''">
			<![CDATA[to_date(txupdate) <= #{search}]]>
			</if>
		</where>
		ORDER BY txupdate desc
		) a
		)
		WHERE rn BETWEEN #{start} AND #{end}
	</select>

	<select id="noticesearcheach" parameterType="Map"
		resultType="notice">
		SELECT *
		FROM(
		SELECT ROWNUM AS rn, a.*
		FROM(
		SELECT * FROM
		notice_board
		<where>
			hadminid=#{hadminid} and
			<if test="category=='title' and search!=''">
				title like '%'||#{search}||'%'
			</if>
			<if test="category=='text' and search!=''">
				text like '%'||#{search}||'%'
			</if>
			<if test="category=='txupdate' and search!=''">
			<![CDATA[to_date(txupdate) <= #{search}]]>
			</if>
		</where>
		ORDER BY txupdate desc
		) a
		)
		WHERE rn BETWEEN #{start} AND #{end}

	</select>
	<select id="noticesearchcount" parameterType="Map"
		resultType="notice">
		SELECT *
		FROM(
		SELECT ROWNUM AS rn, a.*
		FROM(
		SELECT * FROM
		notice_board
		where hadminid
		in(select h.hadminid from hadmin
		h,myhospital m
		<where>
			h.ykiho=m.ykiho and m.userid=#{id} and del='o')and
			<if test="category=='title' and search!=''">
				title like '%'||#{search}||'%'
			</if>
			<if test="category=='text' and search!=''">
				text like '%'||#{search}||'%'
			</if>
			<if test="category=='txupdate' and search!=''">
			<![CDATA[to_date(txupdate) <= #{search}]]>
			</if>
		</where>
		ORDER BY txupdate desc
		) a
		)
	</select>
	<select id="noticesearcheachcount" parameterType="Map"
		resultType="notice">
		SELECT *
		FROM(
		SELECT ROWNUM AS rn, a.*
		FROM(
		SELECT * FROM
		notice_board
		<where>
			hadminid=#{hadminid} and
			<if test="category=='title' and search!=''">
				title like '%'||#{search}||'%'
			</if>
			<if test="category=='text' and search!=''">
				text like '%'||#{search}||'%'
			</if>
			<if test="category=='txupdate' and search!=''">
			<![CDATA[to_date(txupdate) <= #{search}]]>
			</if>
		</where>
		ORDER BY txupdate desc
		) a
		)
	</select>
	<insert id="insertreview" parameterType="reviewboard">
		insert into review_board
		values(reviewboardnum_seq.nextval,'0',#{id},#{title},#{text},'o',sysdate,sysdate,#{reco},#{hname},#{name},'o')
	</insert>
	<select id="reviewuserall" parameterType="Map"
		resultType="reviewboard">
		SELECT *
		FROM(
		SELECT ROWNUM AS rn, a.*
		FROM(
		SELECT * FROM
		review_board ORDER BY txupdate desc
		) a
		)
		WHERE rn BETWEEN #{start} AND
		#{end} and del='o'
	</select>
	<update id="reviewcount" parameterType="String">
		update review_board
		set
		reviewcount=reviewcount+1
		where reviewboardnum=#{reviewboardnum}
	</update>
	<select id="reviewread" parameterType="String"
		resultType="reviewboard">
		select *
		from review_board where
		reviewboardnum=#{reviewboardnum}
	</select>
	<select id="reviewall" parameterType="String"
		resultType="reviewboard">
		select * from review_board where del='o'
	</select>
	<select id="reviewsearch" parameterType="Map"
		resultType="reviewboard">
		select * from review_board
		<where>
			<if test="category=='title' and search!=''">
				title like '%'||#{search}||'%'
			</if>
			<if test="category=='text' and search!=''">
				text like '%'||#{search}||'%'
			</if>
			<if test="category=='txupdate' and search!=''">
			<![CDATA[to_date(txupdate) <= #{search}]]>
			</if>
		</where>
	</select>
	<select id="reviewCount" parameterType="String" resultType="int">
		select
		count(*) from review_board where del='o'
	</select>
	<select id="reviewuserCount" parameterType="String"
		resultType="int">
		select count(*) from review_board where del='o'
	</select>
	<select id="reviewsearchhname" parameterType="Map"
		resultType="reviewboard">
		select * from review_board where hname=#{category} and
		id=#{id} and del='o'
	</select>


</mapper>